.ui-widget { font-size: 12px; }
.ui-widget *{
  outline : none;
}
.jPeople{

}

.jPeople-wrapper{
}

.jPeople-wrapper, .jPeople-search, .jPeople-menu, .jPeople-autoComplete{
  box-sizing          : border-box;
  -webkit-box-sizing  : border-box;
  -moz-box-sizing     : border-box;
  -ms-box-sizing      : border-box;
  width               : 260px!important;
}

.jPeople-search{
  display                 : block;
	border						      : 1px solid #cacaca;
	-webkit-border-radiusus	: 5px;
	-moz-border-radius 		  : 5px;
  border-radius           : 5px 5px 0 0;
  width                   : 100%;
  margin                  : 0px;
	padding		              : 3px 5px;
	font-family	            : verdana;
	font-size	              : 10pt;
	color			              : #333;
}
.jPeople-search:focus{
	border	    : 1px solid #6A8ECD;
  background  : rgb(218, 231, 236);
	color		    : #22315C;
  outline     : none;
}
.jPeople-menu{
  display     : table;
  border      : 1px solid #ccc;
  border-top  : 0;
}
.jPeople-button:first-child{
  border-radius   : 0 0 0 10px;
  border-right    : 1px solid #ccc;
}
.jPeople-button:last-child{
  border-radius   : 0 0 10px 0;
  border-left     : 1px solid #ccc;
}
.jPeople-button{
  overflow        : hidden;
  float           : left;
  display         : table-cell;
  position: relative;
  background      : #fefefe;
  width           : 33%;
  padding         : 4px 0;
  font-family     : verdana;
  font-size       : 9pt;
  text-align      : center;
  text-decoration : none;
  color           : #666;
}
.jPeople-button:hover, .jPeople-button:focus{
  background    : rgb(218, 231, 236);
  outline       : none;
  color         : crimson;
}
.jPeople-button:active{
  left: 1px;
  top: 1px;
}
.jPeople-button-selected{
  border-color  : #6A8ECD;
  background    : rgb(218, 231, 236);
  color         : #22315C;
}
.ui-autocomplete {
  max-height  : 200px;
  width       : 260px;
  overflow-y  : auto;
  overflow-x  : hidden;
}
/* IE 6 doesn't support max-height
  * we use height instead, but this forces the menu to always be this tall
  */
* html .ui-autocomplete {
  height: 200px;
}
.jPeople-autoComplete .ui-menu-item{
  position        : relative;
}
.jPeople-autoComplete .ui-state-hover{
  color : crimson;
}

.jPeople-item-name{
  display       : inline-block;
  padding-right : 40px!important;
}
.jPeople-item-meta{
  position    : absolute;
  top         : 2px;
  right       : 1px;
  display     : inline-block;
  text-align  : right;
}
.jPeople-item-meta *{
  margin  : 0 0 0 1px;
}
.jPeople-item-meta img{
  border  : 1px solid #666;
}
.jPeople-item-meta .college-icon{
  position  : relative;
  top       : -3px;
}
.jPeople-item-odd{ background	: #CBDFF2; }

.jPeople-faceContainer{
  position  : absolute;
  top       : 0;
  left      : 100%;
}

.face, .face table{
  font-family : verdana, arial, sans;
  font-size   : 9pt;
}
.face{
  border      : 1px solid #666;
  background  : #fff;
  width       : 300px;
}
.face a {
  color: #2266ff;
}
.face .header{
  border-bottom : 1px solid #bbb;
  margin  : 5px;
}
.face .header .photo{
  float       : left;
  position    : relative;
  z-index     : 100;
  border      : 1px solid #666;
  background  : black;
  width       : 112px;
  height      : 112px;
  margin      : 0 5px 5px 0;
  text-align  : center;
  overflow    : hidden;
}
.face .header .photo img{
  max-width : 112px;
  max-height: 112px;
}
.face .header .name{
  font-size   : 11pt;
  font-weight : bold;
}
.face .header .majorLong{
  font-size : 10pt;
}

.face .body{
  margin  : 5px 5px 5px 10px;
}
.face .body td{
  vertical-align  : top;
}
.face .body .infoCell{
  font-weight : bold;
  text-align  : right;
}

.face .country{
  background  : lightblue;
  position    : relative;
  border-top  : 1px solid #666;
  margin-top  : 30px;
  padding     : 2px 0;
  text-indent : 10px;
}
.face .country img{
  position  : absolute;
  right     : 3px;
  bottom    : -2px;
}

.face .birthday .daysLeft{
  font-size   : 8pt;
}


.jPeople-popup{
  display                 : none;
  position                : absolute;
  z-index                 : 69000;
  -webkit-border-radiusus : 8px;
  -moz-border-radius      : 8px;
  border-radius           : 8px;
  background              : rgba(82, 82, 82, 0.7);
  width                   : 700px;
  padding                 : 10px;
}
.jPeople-popup-options{
  border        : 1px solid #cacaca;
  border-width  : 1px 0;
  margin        : 10px 0;
  padding       : 0 20px 10px 20px;
}
.jPeople-popup-options .column{
  float         : left;
  margin-right : 10px
}
.jPeople-popup-actions{
  margin-bottom : 10px;
  padding       : 5px;
  text-align    : right;
}
.jPeople-popup-content-wrapper{
  font-family  : verdana, trebuchet, arial;
  font-size  : 10pt;
  background  : #fff;
}
.jPeople-popup-content-wrapper h1{
  background  : #335981;
  margin    : 0;
  padding    : 5px;
  font-size  : 14pt;
  color      : #fff;
}
.jPeople-popup-content{
  padding     : 5px;
  text-align  : center;
}
.jPeople-popup-inputs{
  border-top  : 1px solid #335981;
  background  : #eaeaea;
  padding     : 5px;
  text-align  : right;
}
.jPeople-popup-inputs input { height: 26px; }
.jPeople-popup-close{
  float           : right;
  margin-right    : 10px;
  text-decoration : none;
  color           : #6898C4;
}
.jPeople-popup-close:hover{
  color      : #fff;
}
.jPeople-popup .face{
  display     : inline-block;
  margin      : 3px;
  text-align  : left;
}

.jPeople-infoOverlay {
  position: fixed;
  top: 0px;
  left: 0px;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.jPeople-infoOverlay section {
  border-radius: 5px;
  background: #fff;
  width: 600px;
  margin: 5px auto;
  font-family: "lucida grande", verdana, arial;
  font-size: 10pt;
  overflow: hidden;
}
.jPeople-infoOverlay h1 {
  border-bottom: 2px solid #999;
  background: lightblue;
  margin: 0 0 10px 0;
  padding: 5px;
  font-size: 140%;
  color: #6898C4;
}
.jPeople-infoOverlay p, .jPeople-infoOverlay form {
  margin: 5px 8px;
}
.jPeople-infoOverlay ul, .jPeople-infoOverlay ol {
  margin: 0;
  padding: 0 0 0 30px;
}
.jPeople-infoOverlay label {
  display: inline-block;
  border: 1px solid #ccc;
  background: #f3f3f3;
  margin: 1px 3px;
  font-size: 80%;
  cursor: pointer;
}
.jPeople-infoOverlay form table input[type="text"],
.jPeople-infoOverlay form table input[type="password"],
.jPeople-infoOverlay form table textarea {
  border: 1px solid #999;
  border-radius: 5px;
  width: 400px;
  padding: 3px 5px;
}
.jPeople-infoOverlay form table input[type="text"]:focus,
.jPeople-infoOverlay form table input[type="password"]:focus,
.jPeople-infoOverlay form table textarea:focus {
  background: #ffeecc;
}

.jPeople-tipsPopup{
  position    : absolute;
  border      : 1px solid #cacaca;
  background  : rgba( 255, 255, 255, 0.9 );
  width       : 420px;
  height      : 300px;
  padding     : 10px;
  padding-top : 32px;
  font-family : verdana, arial;
  font-size   : 10pt;
  overflow    : auto;
}
.jPeople-tipsPopup .codeTable{
  border      : 1px solid #cacaca;
  background  : #fff;
  margin-top  : 10px;
}
.jPeople-tipsPopup td{
  padding : 2px 3px;
}
.jPeople-tipsPopup .title{
  position      : absolute;
  top           : 0;
  right         : 0;
  left          : 0;
  border-bottom : 1px solid #cacaca;
  border-bottom : 1px solid #cacaca;
  background    : #FFEB99;
  padding       : 4px 5px;
  font-size     : 10pt;
  font-weight   : bold;
  text-align    : center;
}
.jPeople-tipsPopup .header{
  border-bottom : 1px solid #cacaca;
  background    : #FFEB99;
  padding       : 4px 5px;
  font-size     : 10pt;
  font-weight   : bold;
  text-align    : center;
}
.jPeople-tipsPopup .even{
  background  : #D1E0FF;
}
.jPeople-tipsPopup code{
  display       : inline-block;
  border        : 1px solid green;
  border-left   : 0;
  border-right  : 0;
  background    : lightgreen;
  padding       : 1px 3px;
  font-size     : 9pt;
  cursor        : pointer;
}
.jPeople-tipsPopup code:hover{
  border-color  : #CC5200;
  background    : #FFC266;
}

.college-icon{
  display     : inline-block;
  background  : #666;
  border      : 1px solid #666;
  margin      : 1px;
  padding     : 0 3px 1px 3px;
  font-family : verdana, arial, courier;
  font-size   : 8pt;
  font-weight : bold;
  text-align  : center;
  color       : #fff;
}
.krupp{
  background : red;
}
.mercator{
  background : blue;
}
.college-iii{
  background : green;
}
.nordmetall{
  background  : yellow;
  color       : purple;
}

.numberOfItems {
  position: absolute;
  top: 0;
  right: 0;
  border-bottom-left-radius: 5px;
  background: #f33;
  padding: 1px 2px;
  font-family: "lucida grande", courier, arial;
  font-size: 7pt;
  overflow: hidden;
  color: #fff;
}

.btn{
  display         : inline-block;
  border          : 1px solid #3b79df;
  border-radius   : 10px;
  background-color: #4986e8;
  box-shadow      : 2px 2px 5px #000;
  margin          : 1px 3px;
  padding         : 3px 10px;
  font-family     : verdana, arial;
  font-size       : 9pt;
  font-weight     : bold;
  text-align      : center;
  text-decoration : none;
  text-shadow     : 0 1px 1px #0d3474;
  color           : #fff;
  cursor          : pointer;
}
.btn:hover{
  background-color  : #1E90FF;
  border-color      : darkblue;
  color             : white;
}
.btn:active{
  position          : relative;
  top               : 1px;
  left              : 1px;
}
.btn-email, .btn-print, .btn-contacts{
  background-repeat   : no-repeat;
  background-position : 9px 50%;
  padding-left        : 30px;
}
.btn-email{
  background-image    : url('../images/btn_email.png');
}
.btn-print{
  background-image    : url('../images/btn_print.png');
}
.btn-contacts{
  background-image    : url('../images/btn_contacts.png');
}


.clearBoth{
  visibility  : hidden;
  clear       : both;
}