.tCheckbox{
  display       : inline-block;
  border        : 1px solid #999;
  border-radius : 5px;
  background    : #eee;
  font-family   : verdana, arial;
  font-size     : 8pt;
  font-weight   : bold;
  text-align    : center;
  overflow      : hidden;
}
.tCheckbox:hover{
  border-color  : #0076FF;
}
.tCheckbox a{
  text-decoration : none;
}
.tCheckbox-blank, .tCheckbox-on, .tCheckbox-off{
  display : inline-block;
  padding : 2px;
  width   : 23px;
}
.tCheckbox-blank{

}
.tCheckbox-on{
  border-right  : 1px solid #999;
  border-radius : 5px 0 0 5px;
  background    : #1E90FF;
  color         : white;
}
.tCheckbox-off{
  border-left   : 1px solid #999;
  border-radius : 0 5px 5px 0;
  background    : crimson;
  color         : white;
} 
